* {
  font-family:Arial, Helvetica, sans-serif;
  background-color: thistle;
  font-style: Georgia;
}
h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Cookie', cursive;
  
}

nav a {
  text-decoration: none;
  color:#111;
  padding: 30px;
  
}

table {
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}
h2 {
  margin-left: 40px;
  margin-top: 40px;
}
ul {
  margin: 50px;
  margin-top: 15px;
  /* list-style-type:circle; */
}

li:first-child{
  margin-top: 15px;
}

li:last-child{
  margin-top: 15px;
}
th{
  bottom: auto;
}
.names{
  border: 2px solid black;
}
td {
  border: 2px solid black;
  text-align: right;
}
